<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/0aleixo/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/gabriel-aleixo-6b738b234" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/0aleixo/" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
    <div class="email-f">
    <i class="fa-solid fa-envelope fa-3x"></i>
    <p id="email">devaleixo@contato.com</p>
    </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: Gabriel Aleixo
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
