<%= render "shared/navbar" %>
<div class="presentation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-7 bg-orange">
        <div class="bg-orange">
        <p>Hi, i’m Gabriel Aleixo, Software Developer </p>
        </div>
      </div>
      <div class="col-12 col-lg-5 bg-brown">
        <div class="bg-brown">
        <img src="https://imgs.casasbahia.com.br/1527522193/1xg.jpg?imwidth=500" alt="teste" id="gif-setup">
        </div>
      </div>
    </div>
  </div>
</div>
