<%= render "shared/navbar" %>
<div class="hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-7 bg-orange">
        <h1><strong>Hi, i’m Gabriel Aleixo, Software Developer!</strong></h1>
      </div>
      <div class="col-12 col-lg-12 col-xl-5 bg-brown">
        <img src="https://imgs.casasbahia.com.br/1527522193/1xg.jpg?imwidth=500" alt="teste" id="gif-setup">
      </div>
    </div>
    <div class="row">
     <div class="col-12 bg-gray">
      <div class="about-time">
        <h2 class="mt-5">It is all about time</h2>
        <p> All of us have individual skills to use to mark this world, we may have been born with it,  or grown
         training it, doesn’t matter we can all master then if we give time to it.</p>
        <h3 class="mt-5">And what i give my time for?</h3>
        <%= render "shared/carousel" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12 col-xl-5 bg-brown">
    <%= image_tag("code.png" , :id => "codes") %>
    <%= image_tag("future.png" , :id => "future") %>
    </div>
    <div class="col-12 col-lg-12 col-xl-7 bg-orange">
    </div>
  </div>
  <div class="row">
     <div class="col-12 bg-gray">
     </div>
  </div>
</div>
