.gallery{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15vw;
}
.arrow-left, .arrow-right {
  border: none;
  background-color: none;
  background: none;
}
.setas {
  width: 20px;
  height: 50px;
}
.item {
  width: 25vh;
  height: 20vh;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.icon {
  animation: rotation 3s infinite linear;
  color: white;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .gallery {
    display: flex;
    flex-flow: column nowrap;
  }
}

// @media (max-width: 1330px) {
//   .item {
//     width: 204px;
//     height: 155px;
//   }
// }

// @media (min-width: 1024px) {
//   .setas {
//     width: 40px;
//     height: 50px;
//   }
// }
