.bg-orange{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: $primary-orange;
  height: 60vh;
  padding: 0px;
  p{
    text-decoration: bold;
    font-family: 'Lobster';;
    font-size: 6rem;
    text-align: center;
  }
  h1{
    font-family: $title-subtitle;
    font-weight: 400;
    font-size: 3vh;
    text-align: center;
  }

}
.bg-brown {
  background-color: $secondary-brown;
  height: 40vh;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  #gif-setup {
    width: 60vh;
    height: 90%;
    margin-top: -40vh;
    max-width: 480px;
    max-height: 400px;
  }
}
.bg-gray{
  background-color: $bg-gray;
  height: auto;
  padding-bottom: 5%;
}
.bg-gray2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-gray;
  height: 70vh;
  padding-bottom: 8vh;
  width: 100.4vw;
}
.about-time {
  color: white;
  height: auto;
  h2 {
    font-family: $title-subtitle;
    font-style: normal;
    font-size: 6vh;
    line-height: 7.3rem;
    text-align:center;
    margin-left: 5rem;
  }
  h3 {
    font-family: $title-subtitle;
    font-weight: 400;
    font-size: 2vh;
    line-height: 3rem;
    margin-top: 5rem;
    margin-left: 5rem;
  }
  p {
    font-family: $texts;
    font-weight: 400;
    font-size: 2vh;
    line-height: 3.2rem;
    text-align: center;
    margin-top: 5rem;
  }
}

.bg-orange2 {
  background-color: $primary-orange;
  display: flex;
  flex-flow: column nowrap;
  height: 40vh;
  padding: 0px;
  text-align: center;
  align-items: center;
  padding-bottom: 5%;
  h2{
    margin-top: 30%;
  }
  p{
    font-style: $title-subtitle;
    font-size: 1.2vh;
    margin-top: 5%;
  }
  #work {
    font-family: $title-subtitle;
    font-size: 5vh;
    margin-top: 15%;
    margin-left: 7%;
  }
  .btn {
    width: 10vh;
    height: 7vh;
    margin-inline:auto;
    margin-top: 5%;
    border: 1px solid black;
    border-radius: 250px;
    background-color: #F7B538;
    box-shadow: 0px 2px 0px #000000;
    font-family: $buttons;
    font-size: 1vh;
    align-items: center;
    justify-content: center;
    display: flex
  }
  .fa-plus {
    margin-right: 5px;
  }
  .btn:hover {
    background-color: #ffa600;
  }
}
.bg-orange3 {
  background-color: $primary-orange;
  height: 45vh;
  p{
    font-family: $title-subtitle;
    font-style: bold;
    font-weight: 400;
    font-size: 3vh;
    line-height: 75px;
    text-align: center;
  }
  #name {
    font-size: 2vh;
    margin-left: 50%;
  }
  .content {
    margin-top: 10%;
  }
}
.bg-orange4 {
  background-color: $primary-orange;
  height: auto;

}
.bg-brown1 {
    background-color: $secondary-brown;
    height: 60vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0px;
    justify-content: center;
}
.form{
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  width: 30%;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  .boxes{
    font-size: 2vh;
    font-family: "Limelight";
    margin-top: 8%;
    gap: 7vh;
  }
  h2 {
    font-size: 3vh;
    font-family: "Limelight";
    text-align: center;
  }
  label {
    font-family: "limelight";
  }
  .form-control{
    background: black;
    opacity: 0.5;
    color: white;
  }
  .btn-form {
    margin-left: 47%;
  }
}
#codes {
  position: absolute;
  width: 70%;
  height: 38%;
  left: 18%;
  margin-top: 14%;
}
#future {
  position: absolute;
  width: 70%;
  height: 15%;
  margin-top: 5%;
  left: 8%;
}
#eu {
  width: 100%;
  margin: 0;
  height: 60vh;
  padding: 0;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  padding: 10px 12px;
  position: absolute;
  width: 124px;
  height: 72px;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  text-decoration: none;
  transition: 1s ease;
  }

  .btn2:hover {
    color: white;
  }


  @media (min-width: 768px) {
    .bg-orange {
      height: 100vh;
    }
    .bg-brown {
      height: 100vh;
    }
    h1 {
      position: absolute;
      left: 2.92%;
      right: 56.11%;
      text-align: left;
      font-size: 3.5vw !important;
      font-weight: 300 !important;
      word-spacing: 5px;
      letter-spacing: 5px;
    }
    .bg-orange2 {
      height: 100vh;
      #work{
        font-family: "Limelight";
        font-size: 4.5vw;
        margin-top: 7vw;
        margin-left: 0 !important;
      }
      p{
        position: absolute;
        text-align: center;
        font-size: 2vw;
        margin-inline: 7%;
        margin-top: 18%;
        padding-left: 5vw;

      }
      .btn {
        width: 8vw;
        height: 5vw;
        margin-top: 28vw;
        margin-left: 27.5vw;
      }
      }
      #gif-setup {
        position: absolute;
        left: 50vw;
        top: 20vh;
        margin-top: 0px !important;
        max-width: 830px !important;
        max-height: 760px !important;
      }
      #codes {
      position: absolute;
      width: 40vw;
      height: 40vw;
      left: 10%;
      margin-top: 12%;
      max-height: 763.5px;
      }
      #future {
      position: absolute;
      height: 12vw;
      width: 30vw;
      left: 5%;
      margin-top: -30%;
      max-height: 227.5px;
      }
      #eu {
        width: 41.6%;
        height: 70vh;
      }
      .bg-orange3{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 3vw;
          margin-inline: 20px;

        }
        #name {
          font-size: 2vw;
        }
      }
      .bg-brown1 {
        .form {
        margin-left: 55%;
        position: absolute;
        width: 50vw;
        .form-control {
          opacity: 3;
          font-size: 3rem;
          height: 40px;
        }
        }
        .boxes {
          margin-top: 3%;
        }
        .btn-form {
          font-size: 15px;
          margin-left: 41%;
          width: 3vw;
          height: 2vw;
          background-color: black;
        }
        h2 {
          text-align: left;
        }
        .form-check-input {
          background-color: gray;
        }
      }
 }

@media (max-width:1500px) {
  #gif-setup {
    width: 50vh !important;
  }
}


@media (max-width:1200px) {
  #gif-setup {
    width: 35vh !important;
  }
}
// @media (min-width: 1200px) {
//   #gif-setup {
//     position: absolute;
//     left: 50vw;
//     top: 20vh;
//   }
//   h1 {
//     position: absolute;
//     left: 2.92%;
//     right: 56.11%;
//     text-align: center;
//   }
// }

// @media (max-width: 1200px) {
//   #gif-setup {
//     position: absolute;
//     width: 80vw;
//     height: 35vh;
//     left: 10vw;
//     bottom: 24vh;
//   }
//   .about-time {
//     h2 {
//       text-align:center;
//     }
//   }
//   h3 {
//     text-align: center;
//   }
//   h1 {
//     font-weight: 400;
//     font-size: 4rem;

//   }
//   .bg-orange {
//     height: 45vh;
//   }
//   .bg-brown {
//     height: 30vh;
//   }
//   .bg-gray{
//     background-color: $bg-gray;
//   }
// }
