.presentation {
  display: flex;
}

.bg-gray{
  height: 75vh;
  background-color: $bg-gray;
}

.bg-brown {
  background-color: $secondary-brown;
  height: 90vh;
  padding: 0px;
  img{
    margin-top:60px;
  }
}

.bg-orange{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: $primary-orange;
  height: 90vh;
  padding: 0px;
    p {
    font-size: 45px;
    font-family: $title-subtitle;
    text-align: center;
   }
}

h1{
  font-family: $title-subtitle;
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
}

@media (min-width: 1024px) {
  #gif-setup {
    position: absolute;
    left: 50vw;
    top: 12vh;
  }
  h1 {
    position: absolute;
    left: 2.92%;
    right: 56.11%;
    text-align: center;
  }
}

@media (max-width: 1023px) {
  #gif-setup {
    position: absolute;
    width: 80vw;
    height: 35vh;
    left: 10vw;
    bottom: 24vh;
  }
  h1 {
    font-weight: 400;
    font-size: 25px;
  }
  .bg-orange {
    height: 45vh;
  }
  .bg-brown {
    height: 30vh;
  }
}
