.bg-orange{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: $primary-orange;
  height: 100vh;
  padding: 0px;
  p{
    text-decoration: bold;
    font-family: 'Lobster';;
    font-size: 6rem;
    text-align: center;
  }
  h1{
    font-family: $title-subtitle;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 5.5rem;
    text-align: center;
  }

}
.bg-brown {
  background-color: $secondary-brown;
  height: 100vh;
  padding: 0px;
}
.bg-gray{
  background-color: $bg-gray;
  height: auto;
  padding-bottom: 5%;
}
.bg-gray2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-gray;
  height: 70vh;
  padding: 0;
  width: 100.4vw;
}
.about-time {
  color: white;
  height: auto;
  h2 {
    font-family: $title-subtitle;
    font-style: normal;
    font-size: 6.0rem;
    line-height: 7.3rem;
    text-align:left;
    margin-left: 5rem;
  }
  h3 {
    font-family: $title-subtitle;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 5rem;
    margin-left: 5rem;
  }
  p {
    font-family: $texts;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
    margin-top: 5rem;
  }
}

.bg-orange2 {
  background-color: $primary-orange;
  height: 100vh;
  padding: 0px;
  p{
    font-style: $title-subtitle;
    font-size: 2.5rem;
    text-align: center;
    margin-left: 15%;
    margin-top: 11%;
  }
  #work {
    font-family: $title-subtitle;
    font-size: 6.5rem;
    margin-top: 15%;
    margin-left: 7%;
  }
  .btn {
    width: 145px;
    height: 99px;
    margin-left: 30vw;
    margin-top: 5%;
    border: 1px solid black;
    border-radius: 250px;
    background-color: #F7B538;
    box-shadow: 0px 2px 0px #000000;
    font-family: $buttons;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    display: flex
  }
  .fa-plus {
    margin-right: 5px;
  }
  .btn:hover {
    background-color: #ffa600;
  }
}
.bg-orange3 {
  background-color: $primary-orange;
  height: 100vh;
  p{
    font-family: $title-subtitle;
    font-style: bold;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
  }
  #name {
    font-size: 4.5rem;
    margin-left: 50%;
  }
  .content {
    margin-top: 30%;
  }
}
.bg-orange4 {
  background-color: $primary-orange;
  height: auto;

}
.bg-brown1 {
    background-color: $secondary-brown;
    height: auto;
    padding: 0px;
}
.form{
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  margin-top: 10%;
  margin-left: 30%;
  width: 30%;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  .boxes{
    font-size: 2rem;
    font-family: "Limelight";
  }
  h2 {
    font-size: 5rem;
    font-family: "Limelight";
    text-align: center;
  }
  label {
    font-family: "limelight";
  }
  .form-control{
    background: black;
    opacity: 0.5;
    color: white;
  }
}
#codes {
  position: absolute;
  width: 600px;
  height: 500px;
  left: 18%;
  margin-top: 15%;
}
#future {
  position: absolute;
  width: 427px;
  height: 190px;
  margin-top: 7%;
  left: 7%;
}
#eu {
  width: 41.65%;
  margin: 0;
  height: 100vh;
  padding: 0;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  padding: 10px 12px;
  position: absolute;
  width: 124px;
  height: 72px;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  text-decoration: none;
  transition: 1s ease;
  }

  .btn2:hover {
    color: white;
  }
@media (min-width: 1200px) {
  #gif-setup {
    position: absolute;
    left: 50vw;
    top: 20vh;
  }
  h1 {
    position: absolute;
    left: 2.92%;
    right: 56.11%;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  #gif-setup {
    position: absolute;
    width: 80vw;
    height: 35vh;
    left: 10vw;
    bottom: 24vh;
  }
  .about-time {
    h2 {
      text-align:center;
    }
  }
  h3 {
    text-align: center;
  }
  h1 {
    font-weight: 400;
    font-size: 4rem;

  }
  .bg-orange {
    height: 45vh;
  }
  .bg-brown {
    height: 30vh;
  }
  .bg-gray{
    background-color: $bg-gray;
  }
}
